.header_container{
    display: flex;
    align-content: center;
}
.nav_links{
    display: flex;
    gap: 20px;
    font-size: 20px;
    border-right: 20px;
   justify-content: space-between;
}
.logo img{
    height: 450px;
    width: 450px;
    padding: 3%;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 50px;
    float: left;
}
.home_text{
  font-family: "Signika Negative", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  margin-top: 8%;

}
*{
    padding: 0;
    margin: 0;
}
.dislogo{
height: 60px;
width: 60px;
display: flex;
float: left;
margin-left: 5px;
margin-top: 5px;
}
.dishead{
    align-items: center;
    align-content: center;
    margin-left: 5px;
    margin-top: 20px;
}
.signin{
    margin-top: 20px;
    margin-left: 850px;
    height: 40px;
    width: 80px;
    align-items: center;
    font-size: 20px;
    border-radius: 7px;
    border: none;
    background: #0b5492;
    color: aliceblue;
    cursor: pointer;
}
.join{
    margin-left: 9px;
    margin-top: 20px;
    width: 80px;
    height: 40px;
    align-items: center;
    font-size: 20px;
    background: #0b5492;
    color: azure;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    

}
body{
   background-repeat: no-repeat;
   background .
   
}